* {
    box-sizing: border-box;
    font-family: Helvetica;
    line-height: 1;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    flex-wrap: wrap;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    font-size: 100%;
}

nav {
    background-color: ghostwhite;
}

main {
    flex-wrap: wrap;
}

section {
    padding: 30px;
}

section h2 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}

li {
    list-style: none;
    padding: 20px;
}

li a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.SelfPortrait {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.introName {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    background: rgb(160, 203, 229);
    color: #fff;
}

#Logo {
    width: 25%;
    height: auto;
}

@media screen and (max-width: 733px) {
    header,
    main,
    ul {
        flex-direction: column;
    }

    .introName {
        padding: 10px;
    }

    header h1 {
        text-align: center;
    }

    ul {
        align-items: center;
    }

    li {
        padding: 10px;
    }

    #Logo {
        width: 15%;
        height: auto;
    }
}
