* {
    box-sizing: border-box;
    font-family: Helvetica;
    line-height: 1;
}

body {
    margin: 0;
    flex-wrap: wrap;
}

header {
    display: flex;
    align-items: center;
    font-size: 100%;
}

nav {
    background-color: ghostwhite;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside {
    flex: 1;
    padding: 30px;
}

section {
    flex: 3;
    padding: 30px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 250px;
    padding-inline-start: 0px;
}

li {
    list-style: none;
    justify-content: space-around;
    padding: 20px;
}

li a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.SelfPortrait {
    width: 100%;
    height: auto;
    align-items: center;
}

.introName {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    background: rgb(160, 203, 229);
    color: #fff;
}

@media screen and (max-width: 733px) {
    header,
    main,
    ul {
        flex-direction: column;
    }

    .introName {
        padding: 10px;
    }

    header h1 {
        text-align: center;
    }

    ul {
        align-items: center;
    }

    li {
        padding: 10px;
    }
}
