* {
    box-sizing: border-box;
    font-family: Helvetica;
    line-height: 1;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    flex-wrap: wrap;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    font-size: 100%;
}

nav {
    background-color: ghostwhite;
}

main {
    display: block;
    flex-wrap: wrap;
    display: flex;
}

section {
    padding: 30px;
    flex: 3;
}

aside {
    padding: 30px;
    flex: 1;
}

section h2 {
    text-align: center;
}

p {
    border: 2px black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}

li {
    list-style: none;
    padding: 20px;
}

li a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.SelfPortrait {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.introName {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    background: rgb(160, 203, 229);
    color: #fff;
}

#Logo {
    width: 25%;
    height: auto;
    text-align: center;
}

img {
    width: 25%;
    height: auto;
}

.Logos {
    display: flex;
    flex-wrap: wrap;
}
/* 
#Architecture,
#AutoShow,
#DineLA,
#Interior,
#Fashion {
    height: auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
} */

#AutoShow {
    display: block;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#AutoShow img {
    object-fit: cover;
}

@media screen and (max-width: 734px) {
    header,
    main,
    ul {
        flex-direction: column;
    }

    .introName {
        padding: 10px;
    }

    header h1 {
        text-align: center;
    }

    ul {
        align-items: center;
    }

    li {
        padding: 10px;
    }

    #Logo {
        width: 60%;
        height: auto;
        padding: 5px;
    }
    .Logos {
        flex-direction: column;
        align-items: center;
    }
}
